{% extends layout %}

{% block title %}{{ page_title|title }}{% endblock %}

{% block content %}

<!--begin::Page bg image-->
<style>
    body {
        background-image: url('{% static background %}');
    }

    [data-bs-theme="dark"] body {
        background-image: url('{% static background_dark %}');
    }
</style>
<!--end::Page bg image-->

<!--begin::Title-->
<h1 class="fw-bolder fs-2qx text-gray-900 mb-4">
    {{ error_title|title }}
</h1>
<!--end::Title--> 

<!--begin::Text-->
<div class="fw-semibold fs-6 text-gray-500 mb-7">
    {{ error_text }}
</div>
<!--end::Text--> 

<!--begin::Illustration-->
<div class="mb-11">
    <img src="{% static error_image %}" class="mw-100 mh-300px theme-light-show" alt=""/>
    <img src="{% static error_image_dark %}" class="mw-100 mh-300px theme-dark-show" alt=""/>
</div>
<!--end::Illustration-->

<!--begin::Link-->
<div class="mb-0">
    <a href="{% url error_button_url %}" class="btn btn-sm btn-primary">{{ error_button_text|title }}</a>
</div>    
<!--end::Link-->

{% endblock content %}